statemachine/workflow.asl.json
{
  "Comment": "IAM Access Key expiration state machine",
  "StartAt": "Is this a continuation?",
  "TimeoutSeconds": 60,
  "States": {
    "Is this a continuation?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Marker",
          "IsPresent": true,
          "Next": "ListUsers (w Marker)"
        }
      ],
      "Default": "Get AccessKey cutoff time"
    },
    "ListUsers (w Marker)": {
      "Type": "Task",
      "Next": "Parallel",
      "Parameters": {
        "Marker.$": "$.Marker"
      },
      "Resource": "arn:aws:states:::aws-sdk:iam:listUsers",
      "ResultPath": "$.ListUsersResult"
    },
    "Get AccessKey cutoff time": {
      "Type": "Task",
      "Resource": "${StatesDateTimeAddFunctionArn}",
      "Parameters": {
        "Value.$": "$$.Execution.StartTime",
        "Step": -${AccessKeyExpirationTimeInSeconds},
        "Unit": 2
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ListUsers",
      "ResultPath": "$.EarliestAccessKeyCreationTime"
    },
    "ListUsers": {
      "Type": "Task",
      "Parameters": {},
      "Resource": "arn:aws:states:::aws-sdk:iam:listUsers",
      "ResultPath": "$.ListUsersResult",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has more results?",
          "States": {
            "Has more results?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.IsTruncated",
                  "BooleanEquals": true,
                  "Next": "Step Functions StartExecution"
                }
              ],
              "InputPath": "$.ListUsersResult",
              "Default": "Has more results? finish"
            },
            "Has more results? finish": {
              "Type": "Succeed"
            },
            "Step Functions StartExecution": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution",
              "Parameters": {
                "StateMachineArn.$": "$$.StateMachine.Id",
                "Input": {
                  "Marker.$": "$.Marker",
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Map",
          "States": {
            "Map": {
              "Type": "Map",
              "Iterator": {
                "StartAt": "ListAccessKeys",
                "States": {
                  "ListAccessKeys": {
                    "Type": "Task",
                    "Parameters": {
                      "UserName.$": "$.User.UserName"
                    },
                    "Resource": "arn:aws:states:::aws-sdk:iam:listAccessKeys",
                    "ResultPath": "$.ListAccessKeysResult",
                    "Next": "For each AccessKey"
                  },
                  "For each AccessKey": {
                    "Type": "Map",
                    "ItemsPath": "$.ListAccessKeysResult.AccessKeyMetadata",
                    "ItemSelector": {
                      "AccessKey.$": "$$.Map.Item.Value",
                      "CutoffTime.$": "$.CutoffTime"
                    },
                    "End": true,
                    "Iterator": {
                      "StartAt": "Check Dates",
                      "States": {
                        "Check Dates": {
                          "Type": "Choice",
                          "Choices": [
                            {
                              "And": [
                                {
                                  "Variable": "$.AccessKey.CreateDate",
                                  "TimestampLessThanEqualsPath": "$.CutoffTime"
                                },
                                {
                                  "Variable": "$.AccessKey.Status",
                                  "StringEquals": "Active"
                                }
                              ],
                              "Next": "UpdateAccessKey"
                            }
                          ],
                          "Default": "Check Dates finish"
                        },
                        "UpdateAccessKey": {
                          "Type": "Task",
                          "End": true,
                          "Parameters": {
                            "AccessKeyId.$": "$.AccessKeyId",
                            "UserName.$": "$.UserName",
                            "Status": "Inactive"
                          },
                          "InputPath": "$.AccessKey",
                          "Resource": "arn:aws:states:::aws-sdk:iam:updateAccessKey",
                          "ResultPath": null
                        },
                        "Check Dates finish": {
                          "Type": "Succeed"
                        }
                      }
                    }
                  }
                }
              },
              "ItemsPath": "$.ListUsersResult.Users",
              "ItemSelector": {
                "User.$": "$$.Map.Item.Value",
                "CutoffTime.$": "$.EarliestAccessKeyCreationTime"
              },
              "ResultPath": null,
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}