statemachine/workflow.asl.json
{
  "Comment": "State machine that deactivates all active user AccessKeys that are more than 7 days old",
  "StartAt": "Is this a continuation?",
  "TimeoutSeconds": 60,
  "States": {
    "Is this a continuation?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Marker",
          "IsPresent": true,
          "Next": "Set results Marker"
        }
      ],
      "Default": "ListUsers"
    },
    "Set results Marker": {
      "Type": "Pass",
      "Next": "ListUsers (w Marker)",
      "ResultPath": "$",
      "Parameters": {
        "Marker.$": "$.Marker"
      }
    },
    "ListUsers (w Marker)": {
      "Type": "Task",
      "Next": "Parallel",
      "Parameters": {
        "Marker.$": "$.Marker"
      },
      "Resource": "arn:aws:states:::aws-sdk:iam:listUsers"
    },
    "ListUsers": {
      "Type": "Task",
      "Parameters": {},
      "Resource": "arn:aws:states:::aws-sdk:iam:listUsers",
      "Next": "Parallel"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has more results?",
          "States": {
            "Has more results?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.IsTruncated",
                  "BooleanEquals": true,
                  "Next": "Step Functions StartExecution"
                }
              ],
              "Default": "Has more results? finish"
            },
            "Has more results? finish": {
              "Type": "Succeed"
            },
            "Step Functions StartExecution": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution",
              "Parameters": {
                "StateMachineArn.$": "$$.StateMachine.Id",
                "Input": {
                  "Marker.$": "$.Marker",
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Map",
          "States": {
            "Map": {
              "Type": "Map",
              "Iterator": {
                "StartAt": "ListAccessKeys",
                "States": {
                  "ListAccessKeys": {
                    "Type": "Task",
                    "Parameters": {
                      "UserName.$": "$.UserName"
                    },
                    "Resource": "arn:aws:states:::aws-sdk:iam:listAccessKeys",
                    "ResultPath": "$",
                    "Next": "For each AccessKey"
                  },
                  "For each AccessKey": {
                    "Type": "Map",
                    "ItemsPath": "$.AccessKeyMetadata",
                    "End": true,
                    "Iterator": {
                      "StartAt": "Get AccessKey expiration date",
                      "States": {
                        "Get AccessKey expiration date": {
                          "Type": "Task",
                          "Resource": "${StatesDateTimeAddFunctionArn}",
                          "Parameters": {
                            "Value.$": "$.CreateDate",
                            "Step": 7,
                            "Unit": "Days"
                          },
                          "Retry": [
                            {
                              "ErrorEquals": [
                                "Lambda.ServiceException",
                                "Lambda.AWSLambdaException",
                                "Lambda.SdkClientException",
                                "Lambda.TooManyRequestsException"
                              ],
                              "IntervalSeconds": 1,
                              "MaxAttempts": 6,
                              "BackoffRate": 2.0
                            }
                          ],
                          "Next": "Get AccessKey warning window",
                          "ResultPath": "$.ExpiryDate"
                        },
                        "Get AccessKey warning window": {
                          "Type": "Parallel",
                          "Branches": [
                            {
                              "StartAt": "Get AccessKey expiration warning lower bound",
                              "States": {
                                "Get AccessKey expiration warning lower bound": {
                                  "Type": "Task",
                                  "Resource": "${StatesDateTimeAddFunctionArn}",
                                  "Parameters": {
                                    "Value.$": "$.ExpiryDate",
                                    "Step": -86695,
                                    "Unit": "Seconds"
                                  },
                                  "Retry": [
                                    {
                                      "ErrorEquals": [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException"
                                      ],
                                      "IntervalSeconds": 1,
                                      "MaxAttempts": 6,
                                      "BackoffRate": 2.0
                                    }
                                  ],
                                  "ResultPath": "$",
                                  "End": true
                                }
                              }
                            },
                            {
                              "StartAt": "Get AccessKey expiration warning upper bound",
                              "States": {
                                "Get AccessKey expiration warning upper bound": {
                                  "Type": "Task",
                                  "Resource": "${StatesDateTimeAddFunctionArn}",
                                  "Parameters": {
                                    "Value.$": "$.ExpiryDate",
                                    "Step": -86105,
                                    "Unit": "Seconds"
                                  },
                                  "Retry": [
                                    {
                                      "ErrorEquals": [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException"
                                      ],
                                      "IntervalSeconds": 1,
                                      "MaxAttempts": 6,
                                      "BackoffRate": 2.0
                                    }
                                  ],
                                  "ResultPath": "$",
                                  "End": true
                                }
                              }
                            }
                          ],
                          "ResultPath": "$.ExpiryWarning",
                          "ResultSelector": {
                            "LowerBound.$": "$[0]",
                            "UpperBound.$": "$[1]"
                          },
                          "Next": "Check Dates"
                        },
                        "Check Dates": {
                          "Type": "Choice",
                          "Choices": [
                            {
                              "And": [
                                {
                                  "Variable": "$.ExpiryWarning.LowerBound",
                                  "TimestampLessThanEqualsPath": "$$.Execution.StartTime"
                                },
                                {
                                  "Variable": "$.ExpiryWarning.UpperBound",
                                  "TimestampGreaterThanEqualsPath": "$$.Execution.StartTime"
                                },
                                {
                                  "Variable": "$.Status",
                                  "StringEquals": "Active"
                                }
                              ],
                              "Next": "Send warning notification"
                            },
                            {
                              "And": [
                                {
                                  "Variable": "$.ExpiryDate",
                                  "TimestampLessThanEqualsPath": "$$.Execution.StartTime"
                                },
                                {
                                  "Variable": "$.Status",
                                  "StringEquals": "Active"
                                }
                              ],
                              "Next": "UpdateAccessKey"
                            }
                          ],
                          "Default": "Check Dates finish"
                        },
                        "UpdateAccessKey": {
                          "Type": "Task",
                          "End": true,
                          "Parameters": {
                            "AccessKeyId.$": "$.AccessKeyId",
                            "UserName.$": "$.UserName",
                            "Status": "Inactive"
                          },
                          "Resource": "arn:aws:states:::aws-sdk:iam:updateAccessKey",
                          "ResultPath": null
                        },
                        "Send warning notification": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::sns:publish",
                          "Parameters": {
                            "TopicArn": "${DeactivationWarningSnsTopicArn}",
                            "Message.$": "States.Format('User with username {} has an active AccessKey set to expire at {}', $.UserName, $.ExpiryDate)"
                          },
                          "ResultPath": null,
                          "End": true
                        },
                        "Check Dates finish": {
                          "Type": "Succeed"
                        }
                      }
                    }
                  }
                }
              },
              "ItemsPath": "$.Users",
              "ResultPath": null,
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}